<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.honyum.owner"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="16"
          android:versionName="@string/app_version">

    <!-- 百度地图所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- JPush权限 -->
    <permission
        android:name="com.honyum.owner.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>
    <!-- Required -->
    <uses-permission android:name="com.honyum.owner.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="${MAP_VALUE}"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <receiver
            android:name=".common.receiver.MyJPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/>

                <category android:name="com.honyum.owner"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".common.service.LocationService"
            android:enabled="true"/>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.common.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.honyum.LOGIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.common.AddressSelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activity.MainPageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.common.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.common.PersonCenterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.dtcs.HelpCenterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.dtcs.HelpContentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.common.PersonInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.common.EditPersonInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activity.common.EditCellAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activity.common.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.common.EditPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activity.common.ShowAddressActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.dtsc.ElevatorMallActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.zzfwxd.ValueAddedServiceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.HomePageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.wbxd.MaintenanceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.jxxd.AddRepairActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activity.wbxd.AddMtOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activity.common.MyOrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.common.OrderDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.wbdd.MtTaskActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.common.RatingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activity.jxxd.AddRepair2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activity.wbxd.AddMtOrder2Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.wbdd.MtDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.jxdd.RepairTaskActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.common.TaskDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.wbdd.MtOrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.jxdd.RepairOrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.bxxd.ElevatorInsuranceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.bxxd.InsuranceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.zzfwxd.AddIncrementActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.zzfwxd.AddIncrement2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.dtsc.EMztxsActivity"/>
        <activity android:name=".activity.dtsc.EMdtpjActivity"/>
        <activity android:name=".activity.dtsc.EMdtzhActivity"/>
        <activity android:name=".activity.common.PaymentActivity"/>
        <activity android:name=".activity.zzfwdd.ZzfwActivity"/>
        <activity android:name=".activity.zzfwdd.ZzfwOrderActivity"/>
        <activity android:name=".activity.wbdd.MtOrderOrderActivity"/>
        <activity android:name=".activity.wbdd.MtHistoryOrderActivity"/>
        <activity android:name=".activity.zzfwdd.ZzfwHistoryOrderActivity"/>
        <activity android:name=".activity.dtsc.MarketWebViewActivity">
        </activity>
        <activity android:name=".activity.dtcs.HelpWebViewActivity">
        </activity>
        <activity android:name=".activity.dtsc.LiftMessageActivity">
        </activity>

        <activity android:name=".activity.wbxd.NearMaintenanceActivity"/>
    </application>

</manifest>